---
const { title, image, slug, minplayers, maxplayers, minage } = Astro.props;
---

<a href={`/game/${slug}`} class="game-card-link">
  <article class="game-card">
    <div class="bg-white rounded shadow p-2" id={slug}>
      <img src={image} alt={title} class="w-full h-32 object-cover rounded" loading="lazy"/>
      <h2 class="text-sm font-bold mt-2">{title}</h2>
      <div class="flex justify-between items-center text-xs text-gray-500">
        <span>{minplayers} - {maxplayers} joueurs</span>
        <span>{minage}+</span>
      </div>
    </div>
  </article>
</a>
