---
const { title, image, slug, minplayers, maxplayers, price } = Astro.props;
---

<a href={`/game/${slug}`} class="game-card-link">
  <article class="game-card">
    <div class="bg-white rounded shadow p-2" id={slug}>
      <img src={image} alt={title} class="w-full h-32 object-cover rounded" loading="lazy"/>
      <h2 class="text-sm font-bold mt-2">{title}</h2>
      <p class="text-xs text-gray-500">{minplayers} - {maxplayers} joueurs</p>
      <p class="text-xs font-semibold mt-1">{price}</p>
    </div>
  </article>
</a>
